.heading-title h2 {
    font-weight: 300;
 }
 .darkcolor {
    color: #212331;
 }
 h2 {
    font-size: 3.5rem;
 }
 
 h1, h2, h3, h4, h5, h6 {
    margin: 0;
 }
 .heading-title > span {
    font-size: 1.25rem;
    display: block;
    text-transform: capitalize;
    color: #00bcd4;
 }
 
 
 .udemy{
    width: 130px;
 }
 .udemy-footer {
    width: 180px;
 }
 .social-icon a{
    margin:0px 15px;
 }
 .social-icon i{
    background-color: #5624d0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 13px;
    font-size: 24px;
    color: #fff;
 }
 
 